{
  "parser": "babel-eslint",
  "globals": {
    "Bot": false,
    "Cidr": false,
    "CommandParser": false,
    "Config": false,
    "Dnsbl": false,
    "LoginServer": false,
    "Poll": false,
    "ResourceMonitor": false,
    "Rooms": false,
    "Simulator": false,
    "Sockets": false,
    "string": false,
    "TeamValidator": false,
    "toId": false,
    "toName": false,
    "Tools": false,
    "Tournaments": false,
    "Users": false,
    "Verifier": false,
    "Wulu": false
  },
  "rules": {
    "camelcase": 0,
    "consistent-return": 0,
    "curly": 0,
    "no-loop-func": 0,
    "no-multi-spaces": 0,
    "no-shadow": 0,
    "quotes": [1, "single"],
    "strict": 0
  },
  "env": {
    "node": true
  }
}
